.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 1px 2px 5px #999;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

.comapny-title {
  font-size: 28px;
  font-weight: bold;
}

.list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px;
}

li {
  font-size: 40px;
}

li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 25px;
}
