.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
  box-shadow: 0 5px 5px -10px #111;
  padding: 0.3rem;
  color: black;
}

h1 {
  margin: 0 0 0 0.7rem;
  padding: 0;
}

.nav-links {
  display: flex;
  gap: 0.7rem;
  padding-right: 10%;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  transition: 200ms;
  padding: 10%;
}

.link:hover {
  color: #02bab7;
}

.logo {
  display: flex;
}
