.loadingStatus {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  font-style: italic;
}

.button-container {
  width: 200px;
  padding: 5px;
}

.tables {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.rocket {
  flex: 1;
  -webkit-box-shadow: 6px 4px 8px 9px #999;
  box-shadow: 6px 4px 8px 9px #999;
}

.mission {
  flex: 1;
  -webkit-box-shadow: 6px 4px 8px 9px #999;
  box-shadow: 6px 4px 8px 9px #999;
}

.dragon {
  flex: 1;
  -webkit-box-shadow: 6px 4px 8px 9px #999;
  box-shadow: 6px 4px 8px 9px #999;
}

.tables h2 {
  text-align: center;
}

.mainContainer {
  padding-bottom: 100px;
  min-height: 75vh;
}
